<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="server" default="false"/> <!-- Disable the game engine -->
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <!-- Robot pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.1"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find project_1)/worlds/r_world.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <rosparam file="$(find project_1)/config/config.yaml" command="load"/>

  <!-- Load the URDF into the ROS Parameter Server -->
  <!-- Spawn your robot -->
  <param name="robot_description" textfile="$(find project_1)/urdf/robot.urdf" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-param robot_description -urdf -model PPP_Robot"/>
  
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find project_1)/config/config.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/PPP_Robot" args="joint_state_controller z_axis_controller y_axis_controller x_axis_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/PPP_Robot/joint_states" />
  </node>

</launch>